<div class="about">
        
    <h1 class="text-4xl">Alex Barker</h1>

    <p class="about-content">
        <span>
            A full stack developer with industry experience building web applications. I specialise
            in building scalable and resilient cloud applications using C# and JavaScript, with
            experience in both AWS and Microsoft Azure. I've particularly enjoyed and thrived
            working on new solution architecture and development, with proven results both
            collaborating and leading projects through to production deployments.
        </span>
    </p>

    
    <div class="about-content parallax-bg"></div>

    <div class="about-content technologies">
        <div>
            <h2>Tech</h2>
            <i class="fa-solid fa-microchip"></i>
            <p>.NET C#</p>
            <p>Angular</p>
            <p>JavaScript</p>
            <p>HTML</p>
            <p>CSS</p>
        </div>

        <!-- <div>
            <h2>Back End</h2>
            <i class="fa-solid fa-server"></i>
            <p>C#</p>
            <p>.NET API</p>
            <p>Microservices</p>
        </div> -->

        <div>
            <h2>Data</h2>
            <i class="fa-solid fa-database"></i>
            <p>MSSQL</p>
            <p>MySQL</p>
            <p>ElasticSearch</p>
        </div>

        <div>
            <h2>Cloud</h2>
            <i class="fa-solid fa-cloud"></i>
            <p>AWS</p>
            <p>Azure</p>
            <p>Event-Driven</p>
            <p>Serverless</p>
        </div>
    </div>

    <div class="about-content">
        <h1 class="text-3xl">Experience</h1>

        <div class="experience">
            <div class="header">
                <h3 class="text-xl">RateMyAgent</h3>
                <h3 class="text-2xl">Senior Software Developer</h3>
                <div class="time">September 2019 - Present</div>
            </div>

            <div class="details">
                Gaining exposure to a wide variety of areas across the business, I've worked on a wide variety of systems, including
                legacy systems, monolith API solutions and greenfield projects from scratch in a microservices-based architecture.
                I've particularly enjoyed and thrived working on new solution architecture and development, with proven results
                both collaborating and leading projects through to production deployments.
                <br/>
                <br/>
                <ul>
                    <li>
                        Led solutions architecture on internal marketing tools to allow for specific segmentation, targeting and reporting
                        across email journeys as well as ad-hoc marketing emails and SMS campaigns.
                    </li>
                    <li>
                        Integral role in achieving record-high review numbers, contributing in many different roles that the team needed.
                    </li>
                    <li>
                        Developed an internal CRM tool to replace Salesforce, including complete discovery phase with requirements
                        coming from the sales, support and executive teams. Included extensive work with Elasticsearch, and integration
                        with Azure AD.
                    </li>
                    <li>
                        Developed multiple CI/CD pipelines, including developing and deploying infrastructure using AWS CDK.
                    </li>
                </ul>
                <br/>
                Leveraged knowledge in full stack web development, Git, Angular, API integration, API development, cloud system
                architecture, AWS, AWS SDK, Octopus Deploy, MSSQL, , MYSQL, requirements gathering, software project
                management.
            </div>
        </div>

        <div class="experience">
            <div class="header">
                <h3 class="text-xl">Panviva</h3>
                <h3 class="text-2xl">Full Stack Developer</h3>
                <div class="time">December 2017 - September 2019</div>
            </div>

            <div class="details">
                Joining the Panviva team as a graduate, full-stack developer, I have been responsible for developing various
                components of the Panviva product, while also working on various proof of concept projects.
                <br/>
                <br/>
                <ul>
                    <li>
                        Developed chatbot POC using the IBM Watson AI platform which utilised Panviva's SupportPoint product as a
                        knowledge repository.
                    </li>
                    <li>
                        Redeveloped non-performant loading of home pages with a reduction in load time by 94% during peak usage.
                    </li>
                    <li>
                        Involved in conceptualising, planning and development of Panviva's Digital Orchestrator and natural language
                        search API's, including a React app, multiple .NET Core APIs as well as Azure Search and Cognitive Services.
                    </li>
                    <li>
                        Completed DevOps tasks for all projects, including building complete CI/CD pipelines, deploying Nuget packages
                        and creating cloud resources.
                    </li>
                </ul>
                <br/>
                Leveraged knowledge in full stack web development, Git, React, API integration, API development, cloud system
                architecture, Microsoft Azure, Azure DevOps, MSSQL, requirements gathering, software project management.
            </div>
        </div>

        <div class="experience">
            <div class="header">
                <h3 class="text-xl">Agilent Technologies</h3>
                <h3 class="text-2xl">Software Engineering Intern</h3>
                <div class="time">2016 - 2017</div>
            </div>

            <div class="details">
                Full time position as a part of the atomic spectroscopy software development team, working on production code
                across multiple software releases.
                <br/>
                <br/>
                Leveraged knowledge in .NET desktop development, test driven development, SVN, .NET performance profiling, Jira
            </div>

        </div>
    </div>
</div>