<div id="body-container" [attr.data-nav]="navOpened">
  <button class="toggle" (click)="toggleNav()">
    <i id="open" class="fa-solid fa-arrow-right"></i>
    <i id="close" class="fa-solid fa-xmark"></i>
    <div class="text">Menu</div>
  </button>
  <nav>
    <div class="nav-section">
      <a class="navlink" routerLink="/">
        <a>About</a>
        <!-- <img src="https://images.unsplash.com/photo-1675025679348-5906632eb467?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=905&q=80"> -->
        <i class="fa-solid fa-user"></i>
      </a>
    </div>

    <div class="nav-section">
      <a class="navlink" routerLink="/brickbreaker">
        <a>JS Brickbreaker</a>
      </a>
    </div>

    <div class="nav-section">
      <a class="navlink" routerLink="/hottest-burn100">
        Hottest Burn100
      </a>
    </div>

  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>

</div>